
*{
    margin: 0;
    padding: 0;
}

.myOwn3dModelDiv{
    width: 100vw;
    height: 100vh;
    background: white;
    color: white;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.myOwn3dModelDiv .loadingScreenContainer{
    width: 700px;
    height: 700px;
    position: relative;
}

.myOwn3dModelDiv .circleDrawing{
    width: fit-content;
    height: fit-content;
    color: black;
    background: transparent;
    position: absolute;
    z-index: 1;
    -webkit-perspective: 1600px;
    -webkit-perspective-origin: 50% -240px;
    -webkit-transform-style: preserve-3d;
}

.myOwn3dModelDiv .circleDrawing canvas{
    width: 700px;
    height: 700px;
    z-index: 9999;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: 
    rotateX(91.9deg)
    rotateY(0deg) 
    rotateX(0deg) 
    translateZ(100px) 
    translateY(300px) 
    translateX(29px);
}

.myOwn3dModelDiv .threeJScontainer{
    width: 700px;
    height: 700px;
    position: absolute;
    z-index: 1;
}

.myOwn3dModelDiv .threeJScontainer mesh{
    width: 700px;
    height: 700px;
    position: absolute;
    z-index:999;
}

@media screen and (max-width: 960px){
    .myOwn3dModelDiv .loadingScreenContainer{
        position: absolute;
        width: 700px;
        height: 700px;
        left: calc(-((700px - 100%) / 2))
    }
}
